* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161616;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column   ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313131;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.login_signup {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 2.5rem;
}

.login_btn, .signup_btn {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
    font-size: 15px;
    font-weight: 600;
    user-select: none;
    border-radius: 15px;
    background-color: #313131;
    color: white;
 
}
.active {
    background-color: #e20404 !important;
    color: white !important;
}


#signup_form, #login_form, #password_form, #task_form{
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
    user-select: none;
}
#signup_form{
    display: none;
}

.input label {
    font-weight: bold;
    display: block;
    color: white;
    margin-bottom: 0.5rem;
    user-select: none;
}

.input input {
    width: 100%;
    padding: 0.75rem;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    outline: none;
    margin-bottom: 2.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    color: white;
}

.input input:focus {
    border-color: #e20404;
}

.submit_btn, .add_btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #e20404;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    user-select: none;
    margin-top: 1rem;
}

.submit_btn:hover, .add_btn:hover {
    background-color: #c56565;
}

/* Profile */

#profile_form{
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
    user-select: none;
}

.profile_info label{
    font-weight: bold;
    display: block;
    color: white;
    margin-bottom: 0.5rem;
    user-select: none;
    padding-left: 0.7rem;
}
.profile_info input {
    width: 100%;
    padding: 1.5rem;
    border-radius: 25px;
    background-color: #2c2c2c;
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    resize: none; /* Prevent resizing by the user */
    overflow: hidden; /* Hide overflow */
    text-align: justify;
    margin-bottom: 2.5rem;
}

.profile_info input:focus {
    border-color: #e20404;
}

.profile_img button{
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
    /* transition: 0.2s ease-in-out; */
}
/* .profile_img button:hover{
    transform: scale(1.1);
} */

.profile_btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pfp .pfp-img-wrapper {
    display: inline-block;
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Hide overflow to make it circular */
    border: 2px solid transparent;
}

.pfp img {
    display: block;
    width: 150px; /* Set your desired width */
    height: 150px; /* Set your desired height */
    object-fit: cover; /* Ensure the image covers the area */
}

#password{
    margin-bottom: 0.5rem;
}
.forgotpass{
    font-size: 16px;
    margin-bottom: 1.5rem;
    text-align: right;
}
.forgotpass a{
    color: white;
}
.forgotpass a:hover{
    color: #e20404;
}
.heading{
    margin-bottom: 1.5rem;
    text-align: center;
    width: 90%;
    color: white;
}
.heading hr{
    margin-top: 0.5rem;
    width: 100%;
}

/* update pass */
#confirm_password input{
    margin-bottom: 0px;
}
